<!DOCTYPE html>
<head>
	 <title>Interface d'administration</title> 
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../style.css">
</head>
<html>
<body>
	<h1 class="header">{{title}}</h1>
	 <form action="login" method="post">
	 <p>{{id}}</p> <input type="text" name="id" required><br>
	 <p>{{mdp}}</p> <input type="password" name="password" required>
	 <input class="btn-fat-medium btn-green" type="submit" value="Connexion">
</form> 

</body>
</html>