<!DOCTYPE html>
<head> 
	<title>Details annonce</title> 
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../../style.css">
</head>
<html>
<body>
	<h1 class="header">Details annonce<a class="right" href="{{rootUri}}/logout"> | Logout</a></h1>
	<h2>Titre: {{ titre }}</h2>
	<h3>Prix: {{ prix }}</h3>
	<h3>Departement: {{ dep_id }}</h3>
	<p>Description: {{ descriptif }}</p><br />

	<h1>Coordonnees annonceur:</h1>
	<h2>Nom: {% if nom_a == '' %}Non renseigné{% else %}{{ nom_a }}{% endif %}</h2>
	<h3>Prenom: {% if prenom_a == '' %}Non renseigne{% else %}{{ prenom_a }}{% endif %}</h3>
	<h3>Mail: {% if mail_a == '' %}Non renseigne{% else %}{{ mail_a }}{% endif %}</h3><br/>
	<a class="btn-fat-medium btn-green" href="{{ rootUri }}/annonceEtat/{{ id }}/1">Valider</a>
	<a class="btn-fat-medium btn-red" href="{{ rootUri }}/annonceEtat/{{ id }}/10">Refuser</a>
	<a class="btn-fat-medium btn-blue" href="{{ rootUri }}/annonceNonValide">Suivante</a>
	<a class="btn-fat-medium btn-grey" href="{{ rootUri }}/annonceNonValide">Retour</a>
</body>
</html>