<!DOCTYPE html>
<head> 
	<title>Annonces non valide</title>
	<LINK REL="StyleSheet" TYPE="text/css" HREF="../../style.css"> 
 </head>
<html>
<body>
	<h1 class="header">Annonces non valide<a class="right" href="{{rootUri}}/logout"> | Logout</a></h1>
	<table border="1">
		<tr>
			<td>Numero</td>
			<td>Titre</td>
		</tr>
		{% for it in annonces %}
		<tr>
			<td>{{ it.id }}</td>
			<td><a href="{{ rootUri }}/annonce/{{ it.id }}">{{ it.titre }}</a></td>
		</tr>
		{% endfor %}
	</table>
</body>
</html>