/* line 18, ../scss/base.scss */
html, body, div, span, ul, object, iframe, p, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 28, ../scss/base.scss */

/* line 34, ../scss/base.scss */
body p {
  line-height: 1;
  margin-bottom: 1%;
}



/* line 51, ../scss/base.scss */
small, .small {
  font-size: 1.4rem;
  color: grey;
}

/* line 57, ../scss/base.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 61, ../scss/base.scss */
nav ul {
  list-style: none;
}

/* line 65, ../scss/base.scss */
blockquote, q {
  quotes: none;
}

/* line 70, ../scss/base.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 76, ../scss/base.scss */
blockquote {
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #6FA8CE;
  padding-left: 8px;
  background-color: #CAE8F3;
}

/* line 86, ../scss/base.scss */
a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 94, ../scss/base.scss */
ins {
  background-color: #ffff99;
  color: black;
  text-decoration: none;
}

/* line 100, ../scss/base.scss */
mark {
  background-color: #ffff99;
  color: black;
  font-style: italic;
  font-weight: bold;
}

/* line 107, ../scss/base.scss */
del {
  text-decoration: line-through;
}

/* line 111, ../scss/base.scss */
u {
  text-decoration: underline;
}

/* line 115, ../scss/base.scss */
strong {
  font-weight: bold;
}

/* line 119, ../scss/base.scss */
em {
  font-style: italic;
}

/* line 123, ../scss/base.scss */
pre {
  font-family: courier;
  font-size: 0.8rem;
  font-style: normal;
  font-size: 16px;
  margin-left: 32px;
  font-family: Consolas, "Times New Roman", Verdana;
  border-left: 4px solid #FF4D06;
  padding-left: 8px;
  background-color: #121314;
}

/* line 135, ../scss/base.scss */
kbd {
  font-family: arial;
  font-size: 0.8rem;
  color: darkgreen;
  font-weight: bold;
}

/* line 142, ../scss/base.scss */
code {
  font-family: courier;
  color: white;
}

/* line 150, ../scss/base.scss */
abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 155, ../scss/base.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 160, ../scss/base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

/* line 169, ../scss/base.scss */
input, select {
  vertical-align: middle;
}

/* line 173, ../scss/base.scss */
.justifie {
  text-align: justify;
}

/* line 175, ../scss/base.scss */
.centre {
  text-align: center;
}

/* line 177, ../scss/base.scss */
.droite {
  text-align: right;
}

/* line 179, ../scss/base.scss */
.gauche {
  text-align: left;
}

/* line 181, ../scss/base.scss */
.majuscule {
  text-transform: uppercase;
}

/* line 183, ../scss/base.scss */
.minuscule {
  text-transform: lowercase;
}

/* line 185, ../scss/base.scss */
.sansPuce {
  list-style-type: none;
}

/* line 189, ../scss/base.scss */
.test {
  background-color: grey;
  text-align: center;
}

/*Grille avec marge entre chaque colonne*/
/*Grille sans marge*/
/* line 23, ../scss/grille.scss */
.row {
  width: 100%;
  margin-right: 1%;
}

/* line 27, ../scss/grille.scss */
.row > div {
  float: left;
  margin-right: 2%;
}

/* line 32, ../scss/grille.scss */
.col-1 {
  width: 10.5%;
}

/* line 33, ../scss/grille.scss */
.col-2 {
  width: 23%;
}

/* line 34, ../scss/grille.scss */
.col-3 {
  width: 35.5%;
}

/* line 35, ../scss/grille.scss */
.col-4 {
  width: 48%;
}

/* line 36, ../scss/grille.scss */
.col-5 {
  width: 60.5%;
}

/* line 37, ../scss/grille.scss */
.col-6 {
  width: 73%;
}

/* line 38, ../scss/grille.scss */
.col-7 {
  width: 85.5%;
}

/* line 39, ../scss/grille.scss */
.col-8 {
  width: 98%;
}

/* line 41, ../scss/grille.scss */
.col-offset-1 {
  margin-left: 11.5%;
}

/* line 42, ../scss/grille.scss */
.col-offset-2 {
  margin-left: 24%;
}

/* line 43, ../scss/grille.scss */
.col-offset-3 {
  margin-left: 36.5%;
}

/* line 44, ../scss/grille.scss */
.col-offset-4 {
  margin-left: 50%;
}

/* line 45, ../scss/grille.scss */
.col-offset-5 {
  margin-left: 61.5%;
}

/* line 46, ../scss/grille.scss */
.col-offset-6 {
  margin-left: 74%;
}

/* line 47, ../scss/grille.scss */
.col-offset-7 {
  margin-left: 86.5%;
}

/* line 49, ../scss/grille.scss */
.clear {
  clear: both;
}

/* line 51, ../scss/grille.scss */
.row-inlineBlock {
  font-size: 0rem;
  width: 100%;
  margin-right: 1%;
  overflow: hidden;
}

/* line 58, ../scss/grille.scss */
.row-inlineBlock > div {
  display: inline-block;
  margin-right: 2%;
  vertical-align: top;
}

/* line 64, ../scss/grille.scss */
.col-1-inlineBlock {
  width: 10.5%;
  font-size: 1rem;
}

/* line 65, ../scss/grille.scss */
.col-2-inlineBlock {
  width: 23%;
  font-size: 1rem;
}

/* line 66, ../scss/grille.scss */
.col-3-inlineBlock {
  width: 35.5%;
  font-size: 1rem;
}

/* line 67, ../scss/grille.scss */
.col-4-inlineBlock {
  width: 48%;
  font-size: 1rem;
}

/* line 68, ../scss/grille.scss */
.col-5-inlineBlock {
  width: 60.5%;
  font-size: 1rem;
}

/* line 69, ../scss/grille.scss */
.col-6-inlineBlock {
  width: 73%;
  font-size: 1rem;
}

/* line 70, ../scss/grille.scss */
.col-7-inlineBlock {
  width: 85.5%;
  font-size: 1rem;
}

/* line 71, ../scss/grille.scss */
.col-8-inlineBlock {
  width: 98%;
  font-size: 1rem;
}

/* line 73, ../scss/grille.scss */
.col-offset-1-inlineBlock {
  margin-left: 11.5%;
}

/* line 74, ../scss/grille.scss */
.col-offset-2-inlineBlock {
  margin-left: 24%;
}

/* line 75, ../scss/grille.scss */
.col-offset-3-inlineBlock {
  margin-left: 36.5%;
}

/* line 76, ../scss/grille.scss */
.col-offset-4-inlineBlock {
  margin-left: 50%;
}

/* line 77, ../scss/grille.scss */
.col-offset-5-inlineBlock {
  margin-left: 61.5%;
}

/* line 78, ../scss/grille.scss */
.col-offset-6-inlineBlock {
  margin-left: 74%;
}

/* line 79, ../scss/grille.scss */
.col-offset-7-inlineBlock {
  margin-left: 86.5%;
}

/* line 81, ../scss/grille.scss */
.clear {
  clear: both;
}

/*@media only screen and (max-width:500px) {
	.row {
		width : 100%;
	}
	.row > div { 
		margin : 0 1%;
	}
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 { 
		width : 98%; 
		float : none;
	}

}*/
/* line 6, ../scss/bouton.scss */
.btn, .btn-blue, .btn-red, .btn-grey, .btn-green, .alerte-blue, .alerte-red, .alerte-grey, .alerte-green {
  border-radius: 8px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

/* line 13, ../scss/bouton.scss */
.btn-blue {
  background-color: #2980b9;
  border: solid;
  border-color: #164666;
}

/* line 19, ../scss/bouton.scss */
.btn-blue:hover {
  background-color: #20638f;
}

/* line 23, ../scss/bouton.scss */
.btn-red {
  background-color: firebrick;
  border: solid;
  border-color: #5c1212;
}

/* line 29, ../scss/bouton.scss */
.btn-red:hover {
  background-color: #871a1a;
}

/* line 33, ../scss/bouton.scss */
.btn-grey {
  background-color: lightslategrey;
  border: solid;
  border-color: #495561;
}

/* line 39, ../scss/bouton.scss */
.btn-grey:hover {
  background-color: #5f6e7e;
}

/* line 43, ../scss/bouton.scss */
.btn-green {
  background-color: forestgreen;
  border: solid;
  border-color: #0e390e;
}

/* line 49, ../scss/bouton.scss */
.btn-green:hover {
  background-color: #186218;
}

/* line 53, ../scss/bouton.scss */
.btn-fat-small {
  padding: 2px 7px 2px 7px;
  font-size: 0.5em;
  border: none;
}

/* line 59, ../scss/bouton.scss */
.btn-fat-medium {
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  border: none;
}

/* line 65, ../scss/bouton.scss */
.btn-fat-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border: none;
}

/* line 71, ../scss/bouton.scss */
.btn-x-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border: none;
  width: 100%;
}

/* line 78, ../scss/bouton.scss */
.btn-small {
  border-width: 1px;
  padding: 2px 7px 2px 7px;
  font-size: 0.5em;
}

/* line 84, ../scss/bouton.scss */
.btn-medium {
  padding: 5px 10px 5px 10px;
  font-size: 0.8em;
  border-width: 2px;
}

/* line 90, ../scss/bouton.scss */
.btn-lg {
  padding: 10px 15px 10px 15px;
  font-size: 1.5em;
  border-width: 3px;
}

/* line 7, ../scss/alerte.scss */
.alerte {
  border-radius: 8px;
  font-family: Arial;
  font-weight: bold;
  color: #ffffff;
}

/* line 14, ../scss/alerte.scss */
.alerte-blue {
  background-color: #2980b9;
  border: solid;
  border-color: #164666;
}

/* line 21, ../scss/alerte.scss */
.alerte-red {
  background-color: firebrick;
  border: solid;
  border-color: #5c1212;
}

/* line 28, ../scss/alerte.scss */
.alerte-grey {
  background-color: lightslategrey;
  border: solid;
  border-color: #495561;
}

/* line 35, ../scss/alerte.scss */
.alerte-green {
  background-color: forestgreen;
  border: solid;
  border-color: #0e390e;
}

/* line 42, ../scss/alerte.scss */
.alerte-fat {
  padding: 4% 8% 4% 8%;
  font-size: 1em;
  border: none;
}

/* line 48, ../scss/alerte.scss */
.alerte-s {
  padding: 4% 8% 4% 8%;
  font-size: 1em;
  border-width: 3px;
}

/* line 1, ../scss/jumbotron.scss */
.jumbotron {
  background-color: #e5e5e5;
  border-radius: 8px;
  text-align: center;
  padding: 6% 8% 6% 8%;
}
/* line 6, ../scss/jumbotron.scss */
.jumbotron h1 {
  margin-bottom: 3%;
}
/* line 9, ../scss/jumbotron.scss */
.jumbotron p {
  margin-bottom: 3%;
}

/* line 6, ../scss/header.scss */
.navbar {
  text-align: center;
  font-size: 0rem;
}
/* line 10, ../scss/header.scss */
.navbar > li {
  font-size: 1rem;
  position: relative;
  display: inline-block;
  vertical-align: top;
}
/* line 16, ../scss/header.scss */
.navbar > li + li {
  border-left: 1px solid white;
}
/* line 21, ../scss/header.scss */
.navbar a {
  display: block;
  padding: 8% 60px;
  text-decoration: none;
  font: 1em sans-serif;
  color: white;
  background-color: #2980b9;
  transition-duration: 0.5s;
}
/* line 31, ../scss/header.scss */
.navbar li:hover > a {
  background-color: #0099ff;
}
/* line 35, ../scss/header.scss */
.navbar ul {
  white-space: nowrap;
  position: absolute;
  display: none;
  list-style: none;
}
/* line 42, ../scss/header.scss */
.navbar li:hover ul {
  display: block;
}

/* line 47, ../scss/header.scss */
.disabled {
  pointer-events: none;
  cursor: none;
}

/* line 52, ../scss/header.scss */
.pagination {
  font-size: 0rem;
  text-align: center;
}
/* line 55, ../scss/header.scss */
.pagination li {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
  border: solid;
  border-width: 1px;
  border-color: #2980b9;
  padding: 0.5% 1%;
}
/* line 64, ../scss/header.scss */
.pagination a {
  text-decoration: none;
  color: black;
}
/* line 68, ../scss/header.scss */
.pagination li:first-child {
  background-color: #2980b9;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  text-align: center;
  width: 5%;
}
/* line 75, ../scss/header.scss */
.pagination li:last-child {
  background-color: #2980b9;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  text-align: center;
  width: 5%;
}
/* line 82, ../scss/header.scss */
.pagination li:hover {
  background-color: #0099ff;
}

/* line 88, ../scss/header.scss */
.breadcrumb {
  list-style: none;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
}
/* line 94, ../scss/header.scss */
.breadcrumb li a {
  color: white;
  text-decoration: none;
  padding: 10px 0 10px 65px;
  background-color: #2980b9;
  position: relative;
  display: block;
  float: left;
}
/* line 104, ../scss/header.scss */
.breadcrumb li a:after {
  content: " ";
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid #2980b9;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  left: 100%;
  z-index: 2;
}
/* line 116, ../scss/header.scss */
.breadcrumb li a:before {
  content: " ";
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  margin-top: -50px;
  margin-left: 3px;
  left: 100%;
  z-index: 1;
}

/* line 130, ../scss/header.scss */
footer {
  background-color: #2980b9;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 1%;
  text-align: right;
  font-size: 1rem;
  font-weight: bold;
  color: #f6f3f3;
}

.header{
  background-color: #2980b9;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 1%;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #f6f3f3;
}

/* line 9, ../scss/style.scss */
nav {
  font-size: 0;
}
/* line 11, ../scss/style.scss */
nav .menu {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F6F3F3;
  font-size: 1rem;
  float: left;
  width: 20%;
  /*margin-left: ($offset*$tailleCol)+($nbCol*$largeurGouttiere);*/
  margin-left: 5%;
  display: inline-block;
  background-color: #2980B9;
  padding-top: 1%;
  padding-bottom: 1%;
  text-align: center;
  text-decoration: none;
  vertical-align: bottom;
}

a{
  text-decoration: none;
}
.center{
  text-align: center;
}
.right{
  text-align: right;
  font-size: 1.5rem;
}